body {
	background: url(./file/ezgif-1-bc6250ef90.gif) no-repeat center/ cover;
	height: 90vh;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.calculator {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20%;
}

.title {
	padding-top: 16%;
	text-align: center;
}

.inputdiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputs {
	width: 28%;
	height: 40px;
	display: flex;
	border-radius: 5px;
	background: none;
	color: black;
	border: 1px solid;
}

.btn {
	width: 6%;
	font-size: 16px;
	line-height: 35px;
	margin: 10px 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: rgb(50, 50, 255);
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	border: 3px solid transparent;
	transition: 200ms;
}

.btn:hover {
	background: transparent;
	color: rgb(50, 50, 255);
	border: 3px solid rgb(50, 50, 255);
	border-radius: 2px;
}

.btns {
	width: 8%;
	font-size: 16px;
	line-height: 35px;
	margin: 10px 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: red;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	border: 3px solid transparent;
	transition: 300ms;
}

.btns:hover {
	background: transparent;
	color: red;
	border: 3px solid red;
	border-radius: 2px;
}

.subtitle {
	text-align: center;
	font-size: 20px;
	color: darkblue;
}